* {
	margin-top: 0px;
}

.App{
	background-image: url("sky.jpg");
	background-color: #58CDF5;
	padding: 50px;
}

.TConverter {
	position: relative;
	line-height: 1.6;
 	font-family: Impact, Charcoal, sans-serif;
 	text-transform: uppercase;
 	text-align: center;
 	font-size: 50px;
 	letter-spacing: 4px;
 	overflow: hidden;
	background: linear-gradient(90deg, #000, #fff, #000);
 	background-repeat: no-repeat;
 	background-size: 80%;
    animation: animate 7s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.Converter {
	padding: 125px;
	font-family: verdana;
	font-size: 30px;
	text-align: left;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 30px;
	border: 2px solid;
	border-style: dotted;
	border-radius: 12px;
	background-color: lightblue;
}

input {
	width: 300px;
	height: 50px;
	font-size: 30px;
	border: 2px solid;
	border-style: dotted;
	border-radius: 12px;
	margin-bottom: 30px;
	text-align: center;
}

div.image {
	content:url("thermometer.gif");
	width: 300px;
	height: 400px;
	float: right;
	align-content: top;
	border-style: groove;
	border-radius: 12px;
}

span {
	font-family: verdana;
	text-decoration:bold;
	text-transform: uppercase;
}